<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>



</head>
<body>



<div class="h-100 jumbotron-fluid">
  <div class="container">
     <div class="cover-container d-flex h-100 p-3 mx-auto flex-column  ">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">The Gossip Project</h3>
          <nav class="nav nav-masthead justify-content-center">

<ul class="nav">
 <li class="nav-item p-3 ">

    <%= link_to "home", "http://localhost:3000/welcome_pages/home/" %>

  </li>
  <li class="nav-item p-3 ">

    <%= link_to "team", "http://localhost:3000/static_pages/team" %>

  </li>
  <li class="nav-item p-3 ">

    <%= link_to "contact", "http://localhost:3000/fixe_pages/contact" %>

  </li>
</ul>





          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenue au site de pontin du gossip Project.</h1>
        <p class="lead">Laisser moi vous présenter ce site-blog qui permet de  crée ces propres arcticles et les mettre en ligne.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Souscrivez un abonement</a>
        </p>
      </main>
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
<footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover par <a href="https://getbootstrap.com/">Abdel-Nasser</a>, by <a href="https://twitter.com/mdo">@society_plus$</a>.</p>
        </div>
      </footer>
    </div>
    </div>
  </div>
</div>

     

     



</body>
</html>